<div class="row">
  <div class="col1">
    <h2>Login</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum amet fugiat in repudiandae a officia similique. Modi excepturi quo similique libero vel! Distinctio, nulla. Atque consequuntur hic ex at!
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <input type="text" class="form-control" placeholder="ID" [(ngModel)]="username" (keyup.enter)="doLogin()" >
  </div>
  <div class="col">
    <button class="btn btn-primary" (click)="doLogin()">Submit</button>
  </div>
</div>

<div class="row" *ngIf="loginFail">
  <div class="col">
    <h1>LOGIN FAILED</h1>
    <h2>Please try again loser</h2>
  </div>
</div>
