<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarSupportedContent" [class.collapse]="collapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink = "" routerLinkActive= "active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink = "/players" routerLinkActive= "active">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink = "/all" routerLinkActive= "active">Achievements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive= "active" (click)="logOut()">Logout</a>
        </li>
      </ul>
      <div class="d-flex" role="search">
        <input class="form-control me-2" type="text" placeholder="Redeem" aria-label="Redeem" [(ngModel)]="code">
        <button class="btn btn-outline-success" type="submit" (click)="redeemCode()">Submit</button>
      </div>
    </div>
  </div>
</nav>
<div>
  <p style="float:right;" class="accepted" *ngIf="codeWasAccepted">Code accepted :)</p>
  <p style="float:right;" class="denied" *ngIf="codeWasDenied">Code denied ;( try again nerd</p>
</div>
